div.page__5e434 {
        &:not(:has(> div.chat_f75fb0)) {
            anchor-name: --vr-header-snippet;
        }

        & > div.chat_f75fb0 {
            anchor-name: --vr-header-snippet;
        }
    }

    .winButtons_c38106 {
        display: var(--vr-header-snippet-winbuttons);
    }

    div.base__5e434 {
        grid-template-rows: [top] 0 [titleBarEnd] min-content [noticeEnd] 1fr [contentEnd] min-content [end];

        &:has(div.bar_c38106 > div.trailing_c38106 .updateIconForeground__49676) {
            & div.chat_f75fb0,
            & div.subtitleContainer_f75fb0,
            & main.container__133bf,
            & div.chatLayerWrapper__01ae2 {
                & section.container__9293f {
                    padding-right: calc(var(--vr-header-snippet-space) + 50px);
                }
            }
        }

        & > div.content__5e434 {
            z-index: 0;
        }

        & > div.bar_c38106 {
            position: absolute;
            position-anchor: --vr-header-snippet;
            top: var(--vr-header-snippet-top);
            right: anchor(right);
            width: anchor-size(width);
            padding: 0 var(--vr-header-snippet-button-padding) 0 0;
        }

        & div.trailing_c38106 {
            background: none;
            border: none;
            height: var(--custom-channel-header-height);
        }
    }

    :not(:has(div.page__5e434 > div.chat_f75fb0)) div.base__5e434 > div.bar_c38106 {
        right: 0 !important;
    }
.visual-refresh {
    --vr-header-snippet-top: 0px;
    --vr-header-snippet-server-padding: 16px;
    --vr-header-snippet-space: 230px;
    --vr-header-snippet-button-padding: 0;
    --vr-header-snippet-winbuttons: flex;

    div.chat_f75fb0:not(.threadSidebarOpen_f75fb0),
    main.container__133bf,
    div.chatLayerWrapper__01ae2 {
        & section.container__9293f {
            padding-right: var(--vr-header-snippet-space);
        }
    }

    div.headerBar__8a7fc.overlay__8a7fc {
        padding-right: var(--vr-header-snippet-space);

        & .tab__65d41,
        & .searchBar__1ac1c {
            -webkit-app-region: no-drag;
        }
    }

    div.videoControls_bfe55a div.subtitleContainer__49508 {
        padding-right: calc(var(--vr-header-snippet-space) - 20px);

        & .toolbar__9293f {
            -webkit-app-region: no-drag;
        }
    }

    div.page_c48ade {
        &:not(:has(> div.chat_f75fb0)) {
            anchor-name: --vr-header-snippet;
        }

        & > div.chat_f75fb0 {
            anchor-name: --vr-header-snippet;
        }
    }

    .winButtons_c38106 {
        display: var(--vr-header-snippet-winbuttons);
    }

    div.base_c48ade {
        grid-template-rows: [top] 0 [titleBarEnd] min-content [noticeEnd] 1fr [contentEnd] min-content [end];

        &:has(div.bar_c38106 > div.trailing_c38106 .updateIconForeground__49676) {
            & div.chat_f75fb0,
            & div.subtitleContainer_f75fb0,
            & main.container__133bf,
            & div.chatLayerWrapper__01ae2 {
                & section.container__9293f {
                    padding-right: calc(var(--vr-header-snippet-space) + 50px);
                }
            }

            & div.videoControls_bfe55a .topControls_bfe55a div.toolbar__9293f {
                margin-right: calc(var(--vr-header-snippet-space) + 30px) !important;
            }
        }

        & > div.content_c48ade {
            z-index: 0;
        }

        & > div.bar_c38106 {
            position: absolute;
            position-anchor: --vr-header-snippet;
            top: var(--vr-header-snippet-top);
            right: anchor(right);
            width: anchor-size(width);
            padding: 0 var(--vr-header-snippet-button-padding) 0 0;

            & > .title_c38106 {
                display: none;
            }
        }

        &:has(> .notice__6e2b9) {
            & > div.bar_c38106 {
                top: anchor(top);
            }
        }

        & div.trailing_c38106 {
            background: none;
            border: none;
            height: var(--custom-channel-header-height);
        }

        &:has(.threadSidebarOpen_f75fb0.threadSidebarFloating_f75fb0) > .bar_c38106 {
            z-index: 0;
        }
    }

    :not(:has(div.page_c48ade > div.chat_f75fb0)) div.base_c48ade > div.bar_c38106 {
        right: 0 !important;
    }

    ul[data-list-id="guildsnav"] > div.itemsContainer_ef3116 > div.stack_dbd263 {
        margin-top: var(--vr-header-snippet-server-padding);
    }

    section.headerBar__80679,
    section.header__0b563 div.toolbar__9293f,
    section.header_c791b2 div.toolbar__9293f,
    section.header_c791b2 div.children__9293f,
    :not(.videoControls_bfe55a) div.topic__6ec1a {
        -webkit-app-region: no-drag;
    }

    .shop__6db1d section.showToolbar__9293f {
        padding-right: var(--vr-header-snippet-space);

        .balanceWidgetMenu__80679 {
            margin-right: 0;
        }
    }

    .div.videoControls_bfe55a .topControls_bfe55a {
        z-index: -1;
    }

    .profileThemedContainer__656be .topRow__34940 {
        align-items: end;
        padding-bottom: 0;

        & .closeAction__34940 {
            -webkit-app-region: no-drag;
        }

        & .memberNameContainer__34940 {
            padding-bottom: 12px;
        }
    }
}
